extends layout

block content
  h1= title
  - let results = thePart
  div(class="container-fuild")
    div(class="row")
      each result,index in results
        div(class = "col-sm-2" id=index onclick=`buy(${index})`) 
          p #{result.part_name}
          p #{result.size}
          p #{result.cost}

  script.
    function buy(element){
      alert(`You purchased item ${element+1}.`)
    }