extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
  - let partid = toShow._id
  - let partName = toShow.part_name
  - let partSize = toShow.size
  - let partCost = toShow.cost
  - let actionid = "/resource/parts/" + partid
  script let actionid = "#{actionid}"
  div
    div.row
      div(class='partAttr mr-3') Part ID is:
      div #{partid}
    div.row
      div(class='partAttr mr-3') Part Name is:
      div #{partName}
    div.row
      div(class='partAttr mr-3') Part Size is:
      div #{partSize}
    div.row
      div(class='partAttr mr-3') Part Cost is:
      div #{partCost}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the costume collection
      window.location.href='/parts'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.text(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/parts'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }