extends layout

block content
  h1= title
  - let parts=results
  div(class="container-fluid")
    div(class="row m-1")
      each part in parts
        - let destination = `dispatch(\"/parts/update?id=${part._id}\")`
        div(class="col-sm-2 "  class="m-1")  #{part.part_name} - #{part.size} - #{part.cost}
          button.btn( class="btn-primary"  class="m-1" class="btn-toolbar", onclick= destination) Update
  script.
      function dispatch(path)
      {
      window.location.href=path
      }